body {
	text-align: center;
	color: #045FB4;
	font-family: Consolas, monospace;
	}
	
#time {
	text-align: right;
}

span {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border: 1px solid #2e6da4;
	width: 400px;
	text-align: center;
	margin: auto;
}

tr td, th {
	border: 1px solid #2e6da4;
}

svg {
	margin-left: 20px;
}